In [1]:
# working with data
import os
import numpy as np
import pandas as pd
import geopandas as gpd # the library that lets us read in shapefiles

# visulizaiton
import matplotlib.pyplot as plot
import seaborn as sns

# Cleanup
from datetime import datetime
pd.set_option('display.max_columns', 999)  # How to display all columns of a Pandas DataFrame in Jupyter Notebook

In [2]:
# check working directory, change if need be
os.getcwd()

'C:\\Users\\rjame\\Documents\\WSWC Documents\\WaDE Side Projects\\20221018 Count of POD vs POU WRs'

In [4]:
fileInput = "WR_PODorPOU.csv"
df = pd.read_csv(fileInput).drop_duplicates().reset_index(drop=True)
print(len(df))
df.head()

1635615

  AllocationUUID PODorPOUSite
0       AZwr_WR1          POD
1      AZwr_WR10          POD
2     AZwr_WR100          POD
3    AZwr_WR1000          POU
4   AZwr_WR10000          POU

In [5]:
# with POD
df_pod = df.copy()
df_pod = df_pod[df_pod['PODorPOUSite'] == "POD"].drop_duplicates().reset_index(drop=True)
print(len(df_pod))
df_pod.head(1)

1272847

  AllocationUUID PODorPOUSite
0       AZwr_WR1          POD

In [6]:
# with POU
df_pou = df.copy()
df_pou = df_pou[df_pou['PODorPOUSite'] == "POU"].drop_duplicates().reset_index(drop=True)
print(len(df_pou))
df_pou.head(1)

362768

  AllocationUUID PODorPOUSite
0    AZwr_WR1000          POU

In [7]:
# Both
df_both = df.copy()
df_both = df_both.groupby('AllocationUUID').agg(lambda x: ','.join([str(elem) for elem in (list(set(x))) if elem!=''])).replace(np.nan, "").reset_index()
df_both = df_both[df_both["PODorPOUSite"].str.contains(',')].drop_duplicates()
print(len(df_both))
df_both.head(1)

291758

   AllocationUUID PODorPOUSite
91    AZwr_WR1008      POD,POU

In [8]:
# Only POD records
df_oD = df_pod.merge(df_both.drop_duplicates(), on='AllocationUUID', how='left', indicator=True)
df_oD = df_oD[df_oD['_merge'] == 'left_only']
print(len(df_oD))
df_oD.head(1)

981089

  AllocationUUID PODorPOUSite_x PODorPOUSite_y     _merge
0       AZwr_WR1            POD            NaN  left_only

In [9]:
# Only POU records
df_oU = df_pou.merge(df_both.drop_duplicates(), on='AllocationUUID', how='left', indicator=True)
df_oU = df_oU[df_oU['_merge'] == 'left_only']
print(len(df_oU))
df_oU.head(1)

71010

  AllocationUUID PODorPOUSite_x PODorPOUSite_y     _merge
0    AZwr_WR1000            POU            NaN  left_only