# Retreive Utah Reservoir and Observation Site data for WaDE
Notes:
- Distribution_Stations.csv contains site information, provdied by David J. Jones via email.
- Ex API: https://www.waterrights.utah.gov/dvrtdb/DailyCommaData.aspBYEAR=1960&EYEAR=2022&StationId=2614&Units=Mean+daily+discharge+in+CFS

In [1]:
# Needed Libararies

# Working with data
import os
import numpy as np
import pandas as pd
import geopandas as gpd

# Visulizaiton
import matplotlib.pyplot as plt
import seaborn as sns

# Working with API
import requests
import io

# Cleanup
import time
from datetime import datetime
pd.set_option('display.max_columns', 999)  # How to display all columns of a Pandas DataFrame in Jupyter Notebook

In [2]:
# check working directory, change if need be
os.getcwd()

'C:\\Users\\rjame\\Documents\\WSWC Documents\\WaDE-Side-Projects\\20221216 Retrieve UT SSRO Data'

### Distribution_Stations Site Data

In [3]:
# this is working fine & can be skipped for now.

#df.to_excel('reviewData.xlsx', index=False)  # The output

1657

,OID_,STATION_ID,SYSTEM,NAME,Latitude,Longitude,X_UTM,Y_UTM
0,1,9949.0,ASHLEY CREEK,ASHLEY TWINS RESERVOIR,40.726466,-109.800949,601259.825,4509083.604

### Getting Timeseries Data Using API

In [16]:
# this is working fine & can be skipped for now.

#df.to_excel('reviewData.xlsx', index=False)  # The output

In [17]:
# Attempt 1. Use base pandas package.
# ------------------------------------

fileInput = "https://www.waterrights.utah.gov/dvrtdb/DailyCommaData.asp?BYEAR=1960&EYEAR=2022&StationId=2614&Units=Mean+daily+discharge+in+CFS.txt"
df = pd.read_csv(fileInput, on_bad_lines='skip')
print(len(df))
df

17

   <!doctype html public "-//w3c//dtd html 4.0 transitional//en">
0                <script>var loggedIn=false;</script>
1               <script>var loggedInName="";</script>
2                                              <html>
3                                              <head>
4   <meta http-equiv="Content-Type" content="text/...
5          <meta name="Author" content="James Greer">
6           <title>Daily Comma Delimited Data</title>
7                                             </head>
8                                              <body>
9   <SCRIPT SRC="/siteFiles/waterRightsStandardHea...
10            <br><H2>Daily Comma Delimited Data</h2>
11                                    Please Wait<br>
12    <form name="submitform" action="/tmpdata/Dai...
13                                            </form>
14                     <script language="javascript">
15                      document.submitform.submit();
16                                          </script>

In [18]:
# Attempt 1. use urllib request packge.
# ------------------------------------

import csv, urllib.request

url = 'https://www.waterrights.utah.gov/dvrtdb/DailyCommaData.asp?BYEAR=1960&EYEAR=2022&StationId=2614&Units=Mean+daily+discharge+in+CFS.csv'
response = urllib.request.urlopen(url)
lines = [l.decode('utf-8') for l in response.readlines()]
cr = csv.reader(lines)

for row in cr:
    print(row)

['<!doctype html public "-//w3c//dtd html 4.0 transitional//en">']
[]
[]
[]
['<script>var loggedIn=false;</script>']
['<script>var loggedInName="";</script>']
[' ']
['<html>']
[' ']
['<head>']
['<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">']
['<meta name="Author" content="James Greer">']
['<title>Daily Comma Delimited Data</title>']
['</head>']
[' ']
['<body>']
['<SCRIPT SRC="/siteFiles/waterRightsStandardHeader.js" language="JavaScript1.2"></SCRIPT>']
[' ']
['<br><H2>Daily Comma Delimited Data</h2>']
['<H5>Revised: September 11', ' 2008</h5>']
[]
['Please Wait<br>']
['  ']
['  <form name="submitform" action="/tmpdata/DailyValues202211144.csv">']
['    ']
['  </form>']
['  ']
[]
['  <script language="javascript">']
['    document.submitform.submit();']
['  </script>']
[]